
.img1, .img2, .img3 {
    border: 7px solid hsl(0, 59%, 41%);
    position: relative;
    padding: 0px;
    margin: 1cm;
    float: left;
}
table, th, td {
    border: 1px solid darkgreen;
  }
  
  table {
    width: 70%;
    margin-top: -2.5cm;
    
  }
.note{
  border: 2px solid black;
  width: 20%;
  margin-left: 28cm;

}
button{
  margin-top: 1.3cm;
}
#rounds {
  background-color: black;
  color: beige;
  font-weight: bolder;
  font-size: 42px;
}
#userscore{
  color: brown;
  background-color: cyan;
  font-weight: bolder;
  font-size: 36px;
}
#compscore{
  color: brown;
  background-color: rgb(29, 190, 69);
  font-weight: bolder;
  font-size: 36px;
}
#restart{
  background-color: darkorange;
  font-weight: 800;
}
